/*
  Icon Font: traffico
*/

@font-face {
  font-family: "traffico";
  src: url("../fonts/traffico.eot");
  src: url("../fonts/traffico.eot?#iefix") format("embedded-opentype"),
       url("../fonts/traffico.woff") format("woff"),
       url("../fonts/traffico.ttf") format("truetype"),
       url("../fonts/traffico.svg#traffico") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "traffico";
    src: url("../fonts/traffico.svg#traffico") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.t-DE-arrow-up:before,
.t-US-arrow-up:before,
.t-added-lane:before,
.t-added-lane-entering-roadway:before,
.t-airplane:before,
.t-arrow-l:before,
.t-arrow-oneway:before,
.t-arrow-s-l:before,
.t-bending-priority:before,
.t-bicycle:before,
.t-bicycle-slippery:before,
.t-bump:before,
.t-bus:before,
.t-car:before,
.t-car-left:before,
.t-car-right:before,
.t-children:before,
.t-circle-bar-rounded:before,
.t-circle-bg:before,
.t-circle-o:before,
.t-circle-separator:before,
.t-cliff:before,
.t-cross-roads:before,
.t-curve-r-l:before,
.t-d-curve-l:before,
.t-dead-end:before,
.t-descent:before,
.t-disabled-p:before,
.t-end:before,
.t-europe_stars:before,
.t-exclamation:before,
.t-falling-rocks:before,
.t-fire-station:before,
.t-flaggers:before,
.t-footpath:before,
.t-h:before,
.t-h-align-l:before,
.t-hairpin-curve:before,
.t-hazardous-material:before,
.t-height:before,
.t-highway-divided:before,
.t-hitch-hiking:before,
.t-level-crossing:before,
.t-light-rail:before,
.t-lightground-railroad-crossing:before,
.t-loop-270:before,
.t-lorry:before,
.t-lorry-left:before,
.t-low-clearance:before,
.t-merge:before,
.t-metric-clearance:before,
.t-moped:before,
.t-motorbike:before,
.t-narrow-road-both:before,
.t-narrow-road-l:before,
.t-no-l-or-u-turn:before,
.t-octagon:before,
.t-offset-roads:before,
.t-parking:before,
.t-pass-l-r:before,
.t-pedestrian:before,
.t-pedestrian-crossing:before,
.t-pedestrians:before,
.t-play-ground:before,
.t-pretzel-loop:before,
.t-railroad:before,
.t-railway-xing-secured:before,
.t-railway-xing-unsecured:before,
.t-right-of-way:before,
.t-right-of-way-l:before,
.t-roadworks:before,
.t-rollerblading:before,
.t-roundabout:before,
.t-school:before,
.t-share-roads:before,
.t-side-road-a-a-l:before,
.t-side-road-a-a-r:before,
.t-side-road-p-l:before,
.t-side-road-p-r:before,
.t-single-2-reverse-curve:before,
.t-skewed-railroads:before,
.t-slippery:before,
.t-slippery-road:before,
.t-snowflake:before,
.t-speedbump:before,
.t-square-angular:before,
.t-square-rounded:before,
.t-steep-hill:before,
.t-stop:before,
.t-t-roads:before,
.t-tractor:before,
.t-trailer:before,
.t-train-electric:before,
.t-tram:before,
.t-tri-angular:before,
.t-tri-bg:before,
.t-tri-o:before,
.t-tri-rounded:before,
.t-truck:before,
.t-truck-rollover-speed:before,
.t-trucks-rollover:before,
.t-turn-90-l:before,
.t-turn-curve-speed:before,
.t-turn-l:before,
.t-turn-l-curve:before,
.t-turn-reverse-left:before,
.t-turnaround:before,
.t-turnaround2:before,
.t-u-turn:before,
.t-wild-animal:before,
.t-windbag:before,
.t-winding-road-left:before,
.t-y-roads:before {
  display: inline-block;
  font-family: "traffico";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.t-DE-arrow-up:before { content: "\f100"; }
.t-US-arrow-up:before { content: "\f101"; }
.t-added-lane:before { content: "\f102"; }
.t-added-lane-entering-roadway:before { content: "\f103"; }
.t-airplane:before { content: "\f104"; }
.t-arrow-l:before { content: "\f105"; }
.t-arrow-oneway:before { content: "\f106"; }
.t-arrow-s-l:before { content: "\f107"; }
.t-bending-priority:before { content: "\f108"; }
.t-bicycle:before { content: "\f109"; }
.t-bicycle-slippery:before { content: "\f10a"; }
.t-bump:before { content: "\f10b"; }
.t-bus:before { content: "\f10c"; }
.t-car:before { content: "\f10d"; }
.t-car-left:before { content: "\f10e"; }
.t-car-right:before { content: "\f10f"; }
.t-children:before { content: "\f110"; }
.t-circle-bar-rounded:before { content: "\f111"; }
.t-circle-bg:before { content: "\f112"; }
.t-circle-o:before { content: "\f113"; }
.t-circle-separator:before { content: "\f114"; }
.t-cliff:before { content: "\f115"; }
.t-cross-roads:before { content: "\f116"; }
.t-curve-r-l:before { content: "\f117"; }
.t-d-curve-l:before { content: "\f118"; }
.t-dead-end:before { content: "\f119"; }
.t-descent:before { content: "\f11a"; }
.t-disabled-p:before { content: "\f11b"; }
.t-end:before { content: "\f11c"; }
.t-europe_stars:before { content: "\f11d"; }
.t-exclamation:before { content: "\f11e"; }
.t-falling-rocks:before { content: "\f11f"; }
.t-fire-station:before { content: "\f120"; }
.t-flaggers:before { content: "\f121"; }
.t-footpath:before { content: "\f122"; }
.t-h:before { content: "\f123"; }
.t-h-align-l:before { content: "\f124"; }
.t-hairpin-curve:before { content: "\f125"; }
.t-hazardous-material:before { content: "\f126"; }
.t-height:before { content: "\f127"; }
.t-highway-divided:before { content: "\f128"; }
.t-hitch-hiking:before { content: "\f129"; }
.t-level-crossing:before { content: "\f12a"; }
.t-light-rail:before { content: "\f12b"; }
.t-lightground-railroad-crossing:before { content: "\f12c"; }
.t-loop-270:before { content: "\f12d"; }
.t-lorry:before { content: "\f12e"; }
.t-lorry-left:before { content: "\f12f"; }
.t-low-clearance:before { content: "\f130"; }
.t-merge:before { content: "\f131"; }
.t-metric-clearance:before { content: "\f132"; }
.t-moped:before { content: "\f133"; }
.t-motorbike:before { content: "\f134"; }
.t-narrow-road-both:before { content: "\f135"; }
.t-narrow-road-l:before { content: "\f136"; }
.t-no-l-or-u-turn:before { content: "\f137"; }
.t-octagon:before { content: "\f138"; }
.t-offset-roads:before { content: "\f139"; }
.t-parking:before { content: "\f13a"; }
.t-pass-l-r:before { content: "\f13b"; }
.t-pedestrian:before { content: "\f13c"; }
.t-pedestrian-crossing:before { content: "\f13d"; }
.t-pedestrians:before { content: "\f13e"; }
.t-play-ground:before { content: "\f13f"; }
.t-pretzel-loop:before { content: "\f140"; }
.t-railroad:before { content: "\f141"; }
.t-railway-xing-secured:before { content: "\f142"; }
.t-railway-xing-unsecured:before { content: "\f143"; }
.t-right-of-way:before { content: "\f144"; }
.t-right-of-way-l:before { content: "\f145"; }
.t-roadworks:before { content: "\f146"; }
.t-rollerblading:before { content: "\f147"; }
.t-roundabout:before { content: "\f148"; }
.t-school:before { content: "\f149"; }
.t-share-roads:before { content: "\f14a"; }
.t-side-road-a-a-l:before { content: "\f14b"; }
.t-side-road-a-a-r:before { content: "\f14c"; }
.t-side-road-p-l:before { content: "\f14d"; }
.t-side-road-p-r:before { content: "\f14e"; }
.t-single-2-reverse-curve:before { content: "\f14f"; }
.t-skewed-railroads:before { content: "\f150"; }
.t-slippery:before { content: "\f151"; }
.t-slippery-road:before { content: "\f152"; }
.t-snowflake:before { content: "\f153"; }
.t-speedbump:before { content: "\f154"; }
.t-square-angular:before { content: "\f155"; }
.t-square-rounded:before { content: "\f156"; }
.t-steep-hill:before { content: "\f157"; }
.t-stop:before { content: "\f158"; }
.t-t-roads:before { content: "\f159"; }
.t-tractor:before { content: "\f15a"; }
.t-trailer:before { content: "\f15b"; }
.t-train-electric:before { content: "\f15c"; }
.t-tram:before { content: "\f15d"; }
.t-tri-angular:before { content: "\f15e"; }
.t-tri-bg:before { content: "\f15f"; }
.t-tri-o:before { content: "\f160"; }
.t-tri-rounded:before { content: "\f161"; }
.t-truck:before { content: "\f162"; }
.t-truck-rollover-speed:before { content: "\f163"; }
.t-trucks-rollover:before { content: "\f164"; }
.t-turn-90-l:before { content: "\f165"; }
.t-turn-curve-speed:before { content: "\f166"; }
.t-turn-l:before { content: "\f167"; }
.t-turn-l-curve:before { content: "\f168"; }
.t-turn-reverse-left:before { content: "\f169"; }
.t-turnaround:before { content: "\f16a"; }
.t-turnaround2:before { content: "\f16b"; }
.t-u-turn:before { content: "\f16c"; }
.t-wild-animal:before { content: "\f16d"; }
.t-windbag:before { content: "\f16e"; }
.t-winding-road-left:before { content: "\f16f"; }
.t-y-roads:before { content: "\f170"; }

/** Base */
.t {
  display: inline-block;
  font: normal normal normal 14px/1 traffico;
  position: relative;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t i {
  position: absolute;
  left: 0;
  width: 100%;
  height:1em;
  line-height:0;
  text-align: center;
}

/** Content */

.t-content,
.t-content-3,
.t-content-4{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing:0;
  top:48.5%;
}
.t-content {
  font-size: 50%;
}

.t-content-3 {
  font-size: 40%;
}

.t-content-4 {
  font-size: 22.5%;
}

.t-content-5 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15%;
  letter-spacing:0;
  top:50%;
}

/** Colours */

.t-c-white {
  color: white;
}

.t-c-red {
  color: #c1121c;
}

.t-c-orange {
  color: #f60;
}

.t-c-blue {
  color: #154889;
}

.t-c-black {
  color: black;
}

.t-c-yellow-dark {
  color: #f0ca00;
}

.t-c-yellow {
  color: #fecf33;
}

.t-c-grey {
  color: grey;
}

.t-c-green {
  color: #008754;
}

.t-c-fluogreen {
  color: #A2FF31;
}
